<form action="/createprofile" method="POST">
  <input type="email" name="email" />
  <input type="password" name="password" />
  <input type="text" name="name" />
  <input type="text" name="surname" />
  <input type="date" name="birthday" />
  <input type="text" name="nationality" />
  <input type="file" name="picture"/>
  <input type="text" name="url_picture" />

  <input id="lat" type="number" name="lat" />
  <input id="lon" type="number" name="lon" />

  <input type="submit">send</input>
</form>

<script>
    getLocation();
    var x = document.getElementById("geoloc");
    var lat = document.getElementById("lat");
    var lon = document.getElementById("lon");
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
      }
    }
  
    function showPosition(position) {
      console.log(
        "Latitude: " +
          position.coords.latitude +
          "<br>Longitude: " +
          position.coords.longitude
      );
  
      lat.value = position.coords.latitude;
      lon.value = position.coords.longitude;
    }
  </script>
